@import "tailwindcss";

@theme {
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 976px;
    --breakpoint-xl: 1440px;

    --color-brightRed: hsl(12, 88%, 59%);
    --color-brightRedLight: hsl(12, 88%, 69%);
    --color-brightRedSupLight: hsl(12, 88%, 95%);
    --color-darkBlue: hsl(228, 39%, 23%);
    --color-darkGrayishBlue: hsl(227, 12%, 61%);
    --color-veryDarkBlue: hsl(233, 12%, 13%);
    --color-veryPaleRed: hsl(13, 100%, 96%);
    --color-veryLightGray: hsl(0, 0%, 98%);
}

#menu {
  top: 100%; /* right below nav */
}

/* Body */
body {
    background-image: url('/img/bg-tablet-pattern.svg');
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: 90% -25%;
}

/* CTA Section */
#cta {
    background-image: url('/img/bg-simplify-section-desktop.svg');
    background-repeat: no-repeat;
}

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 4px;
    background: var(--color-darkBlue);
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

.open {
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

@media(max-width: 576px) {
    body {
        background-position: 50px -50px;
        background-size: 500px;
    }

    #cta {
        background-image: url('/img/bg-simplify-section-mobile.svg');
    }
}