@import "tailwindcss";

@theme {
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 976px;
    --breakpoint-xl: 1440px;

    --color-brightRed: hsl(12, 88%, 59%);
    --color-brightRedLight: hsl(12, 88%, 69%);
    --color-brightRedSupLight: hsl(12, 88%, 95%);
    --color-darkBlue: hsl(228, 39%, 23%);
    --color-darkGrayishBlue: hsl(227, 12%, 61%);
    --color-veryDarkBlue: hsl(233, 12%, 13%);
    --color-veryPaleRed: hsl(13, 100%, 96%);
    --color-veryLightGray: hsl(0, 0%, 98%);
}